@page
@model Farven.Pages.AboutModel
@{
    ViewData["Title"] = "Sobre Nós";
}

<h2>Sobre Nós</h2>
<p>
    Este projeto foi desenvolvido como parte de um trabalho de linguagens de programação, com o objetivo de criar uma aplicação de conversão de moeda.
</p>
<p>A equipe é composta pelos seguintes integrantes:</p>
<ul>
    <li>Rayan Diniz</li>
    <li>Fábio Ezequiel</li>
    <li>Nicolas Duarte</li>
    <li>Emanuel Lucio</li>
    <li>Arthur Narciso</li>
    <li>Vinícius Alves</li>
</ul>
<p>Email de contato: <a href="mailto:farvenservices@gmail.com">farvenservices@gmail.com</a></p>