@page
@model Farven.Pages.ConversorModel
@{
    ViewData["Title"] = "Conversor de Moedas";
}

<div class="text-center">
    <h1 class="display-4">Conversor de Moedas</h1>
    <p class="lead">Converta facilmente diferentes moedas usando nosso conversor atualizado com taxas de câmbio em tempo real.</p>
    <p>Escolha as moedas e insira o valor que deseja converter. Nosso sistema obtém as taxas de câmbio diretamente de uma API confiável para fornecer valores precisos e atualizados.</p>

    <div class="mt-4">
        <a class="btn btn-primary" asp-area="" asp-page="/Conversor">Começar a Conversão</a>
    </div>
</div>
