@page
@model IndexModel
@{
    ViewData["Title"] = "Conversor de Moedas";
}

<div class="text-center">
    <img src="~/images/Farven.png" alt="Farven Logo" class="logo" />
    <h1 class="display-4">Bem-vindo ao Conversor de Moedas da Farven!</h1>
    <p>Converta valores entre diferentes moedas de forma rápida e fácil com as taxas de câmbio mais atualizadas.</p>
    <p>Saiba mais sobre o projeto no <a href="https://github.com/Hagasha/Farven">Github</a>.</p>
    <a href="/Conversor" class="btn btn-primary mt-3">Acessar Conversor de Moedas</a>
</div>
