@page
@model IndexModel
@{
    ViewData["Title"] = "Conversor de Moedas";
}

<div class="text-center">
    <h1 class="display-4">Seja bem-vindo!</h1>
    <p>Saiba mais no <a href="https://github.com/Hagasha/Farven">Github do projeto</a>.</p>
</div>
