@page
@model PrivacyModel
@{
    ViewData["Title"] = "Política de Privacidade";
}

<h1>@ViewData["Title"]</h1>

<p>O Conversor de Moedas Farven respeita a sua privacidade e se compromete a proteger as informações pessoais dos usuários. Abaixo explicamos como coletamos, usamos e protegemos suas informações:</p>

<h2>1. Dados Coletados</h2>
<p>Utilizamos uma API de conversão de moedas para fornecer as taxas de câmbio mais atualizadas. Durante o uso, coletamos apenas dados necessários para a conversão, como as moedas selecionadas e o valor a ser convertido.</p>

<h2>2. Uso das Informações</h2>
<p>As informações coletadas são utilizadas exclusivamente para o processamento da conversão de moedas. Não armazenamos dados pessoais de forma permanente.</p>

<h2>3. Segurança</h2>
<p>Adotamos medidas de segurança adequadas para proteger os dados durante a comunicação com a API.</p>

<h2>4. Mudanças na Política</h2>
<p>Essa política de privacidade pode ser alterada periodicamente. Qualquer alteração será comunicada nesta página.</p>
