@page
@model Farven.Pages.ProfileModel
@{
    ViewData["Title"] = "Perfil";
}

<h2>Perfil do Usuário</h2>
<p>Nome de usuário: @User.Identity.Name</p>
<p>Email: @Model.Email</p>

<div>
    <label>Senha:</label>
    <input type="password" value="******" class="form-control" disabled />
</div>


<a asp-page="/ForgotPassword" class="btn btn-primary mt-4">Redefinir Senha</a>
