@page
@model Farven.Pages.ProfileModel
@{
    ViewData["Title"] = "Perfil";
}

<h2>Perfil do Usuário</h2>
<p>Nome de usuário: @User.Identity.Name</p>
<p>Aqui você pode adicionar outras informações de perfil.</p>
