@page
@model Farven.Pages.RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h2>Registrar</h2>

<form method="post">
    <div class="form-group">
        <label for="username">Nome de usuário</label>
        <input type="text" id="username" name="Username" class="form-control" required />
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="Email" class="form-control" required />
    </div>
    <div class="form-group">
        <label for="password">Senha</label>
        <input type="password" id="password" name="Password" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-primary">Register</button>

    @if (!string.IsNullOrEmpty(Model.ErrorMessage))

    {
        <div class="alert alert-danger">@Model.ErrorMessage</div>
    }
</form>
